# .gitignore CaravanPi

# ignoriere logrotate Steuerung
logrotate.status

# ignoriere .git-sensible-backup
.git-sensible-backup

# ignoriere fremde libraries
.lib/__pycache__
.lib/__pycache__/*
.lib/hx711py
.lib/hx711py/*
.lib/hx711pySJJSJJSJJSJJ
.lib/hx711pySJJSJJSJJSJJ/*
.lib/*pyc

# ignoriere defaults/_allt, das durch abwaerttskompatibilitaet entsteht
defaults/_alt/

# Verzeichnis log (Loggig Daten)
# Verzeichnis anlegen
!.log/
# Inhalt igornieren
.log/*
# logrotate Anweisung synchronisieren
!.log/.logrotate.conf

# Verzeichnis values
# Verzeichnis anlegen
!values/
# Enthaltene Werte jedoch ignorieren
values/*
# Beispiele und logrotate Anweisung wiederum synchronisieren
!values/.logrotate.conf
!values/examples/

# ignoriere alle Images im Verzeichnis doku (Dokumentation/Wiki)
images/doku/
