/* ---------------------------------------------------------
 * allgemeine Anweisungen
 * ---------------------------------------------------------
 */
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Grauer Hintergrund */
    word-wrap: break-word; /* Umbrechen im responsiven Layout */
}
.container {
    flex-grow: 1; /* Lässt den Container den verfügbaren Platz einnehmen */
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column; /* Ordnet die Inhalte vertikal an */
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Für das Positionieren des Hamburger-Menüs */
}
.logo {
    text-align: center; /* Zentriert den Inhalt, inklusive des Logos */
}
.content {
    flex-grow: 1; /* Lässt den Inhalt den verfügbaren Platz einnehmen */
}

/* ---------------------------------------------------------
 * Images
  * ---------------------------------------------------------
 */
 img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
img.logo {
    max-width: 200px;
}


 /* ---------------------------------------------------------
 * Hamburger Menü
 * ---------------------------------------------------------
 */


.hamburger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}
.hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}
.hamburger-menu-content {
    display: none;
    position: absolute;
    right: 0;
    top: 50px; /* Position unter dem Hamburger-Icon */
    background: white;
    padding: 10px;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
}
hr {
    width: 80%;
    margin: 20px auto;
}
.footer {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}


/* ---------------------------------------------------------
 * Menüs
 * ---------------------------------------------------------
 */

.menu a, .hamburger-menu-content a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-align: left; /* Linksbündige Ausrichtung */
    padding: 5px 10px; /* Etwas Padding für bessere Klickbarkeit */
}
.menu a {
    text-decoration: underline;
    color: -webkit-link;
    cursor: pointer;
}

.menu h3 {
    text-decoration: underline;
    font-weight: bold;
}

/* ---------------------------------------------------------
 * Tabellen
 * ---------------------------------------------------------
 */


table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}
td:first-child { /* Ziel ist die erste Zelle jeder Zeile */
    width: 200px;
}
th, td {
    border: none; /* Entfernt die Umrandung */
}


/* ---------------------------------------------------------
 * Buttons
 * ---------------------------------------------------------
 */


.finish-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    padding: 15px 30px;
    font-size: 18px; /* oder die gewünschte Größe */
    cursor: pointer; /* Zeigt den Mauszeiger als Hand, um die Klickbarkeit anzuzeigen */
    margin-top: 20px;
    margin-right: 20px;
    flex-grow: 1; /* Lässt die Buttons den verfügbaren Platz einnehmen */
}
.finish-button:hover {
    background-color: #f8f8f8; /* Leichte Farbänderung beim Überfahren mit der Maus */
}

.button-container {
    display: flex;
    justify-content: flex-start; /* oder 'flex-start' für keinen Zwischenraum */
    padding: 0 5px;
}



/* ---------------------------------------------------------
 * Formulare
 * ---------------------------------------------------------
 */

.caravanpi-form {
	box-sizing: border-box;
}

input, select, textarea {
	background-color: #ddd;
	font-size: 14px;
	width: 90%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	resize: vertical;
}

input[type=text], select, textarea {
	resize: vertical;
}

input[type=number], select, textarea {
	resize: none;
}

input[type=submit] {
  cursor: pointer;
  width: 100%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.row {
    display: flex;
    justify-content: space-between; /* oder 'flex-start' */
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
  

/* ---------------------------------------------------------
 * Flask flash Nachrichten
 * ---------------------------------------------------------
 */

 .flash-message {
    padding: 10px;
    margin: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #dff0d8; /* helles Grün */
    border-color: #d6e9c6; /* dunkleres Grün */
    text-align: center;
    font-size: 16px;
}

/* ---------------------------------------------------------
 * im Formular CaravanPi Defaults sollen die MariaDB und MQTT Datenfelder nur angezeigt werden, wenn diese auch aktiviert wurden
 * im Formular wird die Sichtbarkeit über ein Script gesteuert
 * ---------------------------------------------------------
 */
 .db-settings, .mqtt-settings {
    display: none;
}

/* ---------------------------------------------------------
 * im Formular Gasflaschenwaagen sollen Werte für eine zweite Waage nur abgefragt werden, wenn zwei Waagen konfiguriert wurden
 * im Formular wird die Sichtbarkeit über ein Script gesteuert
 * ---------------------------------------------------------
 */
 .gasscale_1, .gasscale_2 {
    display: none;
}

/* ---------------------------------------------------------
 * im Formular Tanks sollen Werte für einen zweiten oder dritten Tank nur abgefragt werden, wenn mehrere Tanks konfiguriert wurden
 * im Formular wird die Sichtbarkeit über ein Script gesteuert
 * ---------------------------------------------------------
 */
 .tank_1, .tank_2, .tank_3 {
    display: none;
}


/* ---------------------------------------------------------
 * responsiv Design für kleine Bildschirme
 * ---------------------------------------------------------
 */

@media screen and (max-width: 600px) {
    /* CSS für kleine Bildschirme (Smartphones) */
    .container {
        width: 100%;
        max-width: none; /* Entfernt die maximale Breite */
        margin: 0; /* Entfernt den Rand, um die volle Breite zu nutzen */
        box-shadow: none; /* Entfernt den Schatten */
    }
    body {
        background-color: white; /* Setzt den Hintergrund auf Weiß */
    }
}
