<!DOCTYPE html>
<html>
<head>
    <title>CaravanPi Konfiguration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/caravanpi.css') }}">
</head>
<body>
    <div class="container">
        <div class="hamburger-menu" onclick="toggleHamburgerMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div id="hamburgerMenu" class="hamburger-menu-content">
            <!-- Hamburger-Menü-Links werden per JavaScript hinzugefügt -->
        </div>

        <div class="content">
            <div class="logo">
                <img src="/static/images/CaravanPi-Logo.png" alt="CaravanPi Logo" class="logo">
            </div>
            <hr>

            <h1>Konfiguration des CaravanPi</h1>
            <p>Bitte führen Sie nacheinander die einzelnen Konfigurationsschritte durch.</p>
            <p></p>

            <div class="menu" id="configMenu">
                <!-- Hauptmenü-Links werden per JavaScript hinzugefügt -->
            </div>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Weitere Infos zum Projekt CaravanPi finden Sie auf der <a href="https://www.caravanpi.de">CaravanPi-Website</a> und auf <a href="https://github.com/spitzlbergerj/CaravanPi">github</a></p>
        </div>

        <div class="footer">
            <p>&copy; CaravanPi - Josef Spitzlberger - 2024</p>
        </div>
    </div>

    <script>
        function populateLinks(menu, includeHome) {
            var host = window.location.hostname;
            var port = window.location.port;

            var links = [
                { text: "Startseite", url: 'http://' + host + ':5000/', isExternal: false },
                { text: "Konfigurationswebsite", url: 'http://' + host + ':5000/configs', isExternal: false },
                { text: "Status-Überprüfungswebsite", url: 'http://' + host + ':5000/checks', isExternal: false },
                { text: "MagicMirror Konfiguration", url: 'http://' + host + ':8080/remote.html#main-menu', isExternal: true },
                { text: "MagicMirror Remote-Anzeige", url: 'http://' + host + ':8080', isExternal: true },
                { text: "Grafana Website", url: 'http://' + host + ':3000', isExternal: true },
                { text: "phpMyAdmin", url: 'http://' + host + '/phpmyadmin/', isExternal: true }
            ];

            if (!includeHome) {
                links.shift(); // Entfernt die Startseite, wenn includeHome false ist
            }

            links.forEach(function(link) {
                var a = document.createElement('a');
                a.href = link.url;
                a.textContent = link.text;
                if (link.isExternal) {
                    a.target = "_blank"; // Öffnet den Link in einem neuen Fenster/Tab
                }
                menu.appendChild(a);
            });
        }

        function populateConfigLinks(menu) {
            var host = window.location.hostname;
            var port = window.location.port;

            var links = [
                { text: "Dimensionen Caravan bzw. Wohnmobil", url: 'http://' + host + ':5000/config_dimension_caravan', isExternal: false },
                { text: "Einstellungen Gas-Waage", url: 'http://' + host + ':5000/config_gaswaage', isExternal: false },
                { text: "Einstellungen Lagesensor", url: 'http://' + host + ':5000/config_lagesensor', isExternal: false },
                { text: "Einstellungen Füllsensoren Tanks", url: 'http://' + host + ':5000/config_tanks', isExternal: false },
                { text: "Testen der LEDs", url: 'http://' + host + ':5000/config_LED_test', isExternal: false },
                { text: "Startseite", url: 'http://' + host + ':5000', isExternal: false },
            ];

            links.forEach(function(link) {
                var a = document.createElement('a');
                a.href = link.url;
                a.textContent = link.text;
                if (link.isExternal) {
                    a.target = "_blank"; // Öffnet den Link in einem neuen Fenster/Tab
                }
                menu.appendChild(a);
            });
        }

       function toggleHamburgerMenu() {
            var menu = document.getElementById("hamburgerMenu");
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        }

        window.onload = function() {
            var configMenu = document.getElementById("configMenu");
            var hamburgerMenu = document.getElementById("hamburgerMenu");

            populateConfigLinks(configMenu); // Hauptmenü der Konfiguration
            populateLinks(hamburgerMenu, true); // Hamburger-Menü mit Startseite
        };
    </script>
</body>
</html>

