<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaravanPi Konfiguration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/caravanpi.css') }}">
</head>
<body>
    <div class="container">
        <div class="hamburger-menu" onclick="toggleHamburgerMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div id="hamburgerMenu" class="hamburger-menu-content">
            <!-- Hamburger-Menü-Links werden per JavaScript hinzugefügt -->
        </div>

        <div class="content">
            <div class="logo">
                <img src="/static/images/CaravanPi-Logo.png" alt="CaravanPi Logo" class="logo">
            </div>
            <hr>

            <h1>Einstellungen</h1>
            <p>Bitte tragen Sie über die verschiedenen Einstellungen die Defaultwerte für Abmessungen und Sensoren ein. </p>
            <p><br></p>

            <div class="menu" id="configMenu">
                <!-- Hauptmenü-Links werden per JavaScript hinzugefügt -->
            </div>

        </div>

        {% include 'footer.html' %}
    </div>

	<!-- Einbindung des zentralen JavaScript-Scripts am Ende der Seite -->
	<script src="{{ url_for('static', filename='js/build_menus.js') }}"></script>

</body>
</html>

