<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CaravanPi Caravan Defaults</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/caravanpi.css') }}">
</head>
<body>
	<div class="container">
		<div class="hamburger-menu" onclick="toggleHamburgerMenu()">
			<div></div>
			<div></div>
			<div></div>
		</div>

		<div id="hamburgerMenu" class="hamburger-menu-content">
			<!-- Hamburger-Menü-Links werden per JavaScript hinzugefügt -->
		</div>

		<div class="content">
			<div class="logo">
				<img src="/static/images/CaravanPi-Logo.png" alt="CaravanPi Logo" class="logo">
			</div>
			<hr>

			<h1>CaravanPi Grundeinstellungen</h1>
			<p></p>

		
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="flash-message">{{ message }}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}


			<form class="caravanpi-form" method="post">
				
				<!-- Erläuterung  -->
				<div class="row">
					<div>
						<p>
							Die nachfolgenden Werte werden verwendet, um die Funktionalitäten des CaravanPi auf Ihre Bedürfnisse einzustellen. <br/>
						</p>
					</div>
				</div>
				
				<div class="row">
					<div>
						<p>
						<br/><br/><b>Datenspeicherung</b><br/>
						Die von den unterschiedlichen Sensoren des Caravans ermittelten Werte können in<br/>
						&nbsp;&nbsp;&nbsp;- in Wertedateien (obsolet, nicht mehr empfohlen) gespeichert werden<br/>
						&nbsp;&nbsp;&nbsp;- in einer MariaDB (empfohlen) gespeichert werden<br/>
						&nbsp;&nbsp;&nbsp;- an einen MQTT Broker (in der Cloud) gesandt werden<br/>
					</p>
					</div>
				</div>

				<!-- in Dateien -->
				<div class="row">
					<div class="col-75">
						<label for="write2file">in Wertedateien speichern (teilweise für MagicMirror noch notwendig)?</label>  
					</div>
					<div class="col-25">
						<input name="write2file" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('write2file', False) else '' }}>
					</div>
				</div>

				<p>
					<hr>
				</p>

				<!-- in Datenbank -->
				<div class="row">
					<div class="col-75">
						<label for="write2MariaDB">in der Datenbank speichern?</label>  
					</div>
					<div class="col-25">
						<input name="write2MariaDB" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('write2MariaDB', False) else '' }}>
					</div>
				</div>

				<p>
				</p>

				<!-- Datenbank Einstellungen -->
				<div class="db-settings">
					<div class="row">
						<div class="col-60">
							<label for="MariaDBhost">IP Adresse des Datenbank Servers</label>  
						</div>
						<div class="col-40">
							<input name="MariaDBhost" type="char" value="{{ caravanpiDefaults.get('MariaDBhost', '')}}" >
						</div>
					</div>

					<div class="row">
						<div class="col-60">
							<label for="MariaDBuser">Datenbank User</label>  
						</div>
						<div class="col-40">
							<input name="MariaDBuser" type="char" value="{{ caravanpiDefaults.get('MariaDBuser', '')}}" >
						</div>
					</div>

					<div class="row">
						<div class="col-60">
							<label for="MariaDBpasswd">Datenbank Passwort</label>  
						</div>
						<div class="col-40">
							<div class="password-wrapper">
								<input class="password-field" name="MariaDBpasswd" type="password" id="passwordMariaDB" value="{{ caravanpiDefaults.get('MariaDBpasswd', '')}}" >
								<button type="button" class="toggle-password" 
										onmousedown="togglePasswordVisibility(true, 'passwordMariaDB')" 
										onmouseup="togglePasswordVisibility(false, 'passwordMariaDB')" 
										onmouseleave="togglePasswordVisibility(false, 'passwordMariaDB')">
								<img src="/static/images/eye-solid.png" alt="Einblenden">
								</button>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-60">
							<label for="MariaDBdatabase">Name der Datenbank</label>  
						</div>
						<div class="col-40">
							<input name="MariaDBdatabase" type="char" value="{{ caravanpiDefaults.get('MariaDBdatabase', '')}}" >
						</div>
					</div>
				</div>

				<p>
					<hr>
				</p>

				<!-- an MQTT senden -->
				<div class="row">
					<div class="col-75">
						<label for="send2MQTT">an MQTT Broker senden?</label>  
					</div>
					<div class="col-25">
						<input name="send2MQTT" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('send2MQTT', False) else '' }}>
					</div>
				</div>

				<p>
				</p>

				<!-- MQTT Einstellungen -->
				<div class="mqtt-settings">
					<div class="row">
						<div class="col-60">
							<label for="MQTTbroker">Adresse des MQTT Brokers</label>  
						</div>
						<div class="col-40">
							<input name="MQTTbroker" type="char" value="{{ caravanpiDefaults.get('MQTTbroker', '')}}" >
						</div>
					</div>

					<div class="row">
						<div class="col-60">
							<label for="MQTTport">Port des MQTT Brokers</label>  
						</div>
						<div class="col-40">
							<input name="MQTTport" type="char" value="{{ caravanpiDefaults.get('MQTTport', '')}}" >
						</div>
					</div>

					<div class="row">
						<div class="col-60">
							<label for="MQTTuser">MQTT User</label>  
						</div>
						<div class="col-40">
							<input name="MQTTuser" type="char" value="{{ caravanpiDefaults.get('MQTTuser', '')}}" >
						</div>
					</div>

					<div class="row">
						<div class="col-60">
							<label for="MQTTpassword">MQTT Passwort</label>  
						</div>
						<div class="col-40">
							<div class="password-wrapper">
								<input class="password-field" name="MQTTpassword" type="password" id="passwordMQTT" value="{{ caravanpiDefaults.get('MQTTpassword', '')}}" >
								<button type="button" class="toggle-password" 
										onmousedown="togglePasswordVisibility(true, 'passwordMQTT')" 
										onmouseup="togglePasswordVisibility(false, 'passwordMQTT')" 
										onmouseleave="togglePasswordVisibility(false, 'passwordMQTT')">
								<img src="/static/images/eye-solid.png" alt="Einblenden">
								</button>
							</div>

					</div>
				</div>

				<br/><br/>
				<hr>
				<p><b>Anzahl von Sensoren</b><br/></p>

				<!-- Sensorenanzahl -->
				<div class="row">
					<div class="col-75">
						<label for="countGasScales">Anzahl Gasflaschenwaagen</label>  
					</div>
					<div class="col-25">
						<input name="countGasScales" type="number" step="1" min="1" max="2" value="{{ caravanpiDefaults.get('countGasScales', '')}}" >
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="countTanks">Anzahl Tanks</label>  
					</div>
					<div class="col-25">
						<input name="countTanks" type="number" step="1" min="1" max="3" value="{{ caravanpiDefaults.get('countTanks', '')}}" >
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="countTanks">Anzahl Klimasensoren</label>  
					</div>
					<div class="col-25">
						<input name="countClimateSensors" type="number" step="1" min="1" max="2" value="{{ caravanpiDefaults.get('countClimateSensors', '')}}" >
					</div>
				</div>

				<br/><br/>
				<hr>
				<p><b>Einstellungen für die Abfrageintervalle der Sensoren</b><br/></p>

				<!-- crontab Intervalle -->

				<div class="row">
					<div class="col-75">
						<label for="intervallGasscale">Gasflaschenwaagen (in min)</label>  
					</div>
					<div class="col-25">
						<input name="intervallGasscale" type="number" step="1" min="1" max="120" value="{{ caravanpiDefaults.get('intervallGasscale', '')}}" >
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="intervallTemp">Temperatursensoren (in min)</label>  
					</div>
					<div class="col-25">
						<input name="intervallTemp" type="number" step="1" min="1" max="120" value="{{ caravanpiDefaults.get('intervallTemp', '')}}" >
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="intervallClimate">Klimasensoren (in min)</label>  
					</div>
					<div class="col-25">
						<input name="intervallClimate" type="number" step="1" min="1" max="120" value="{{ caravanpiDefaults.get('intervallClimate', '')}}" >
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="intervallTanks">Tanks (in min)</label>  
					</div>
					<div class="col-25">
						<input name="intervallTanks" type="number" step="1" min="1" max="120" value="{{ caravanpiDefaults.get('intervallTanks', '')}}" >
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="intervallPositionNormal">Lagedaten (in min)</label>  
					</div>
					<div class="col-25">
						<input name="intervallPositionNormal" type="number" step="1" min="1" max="120" value="{{ caravanpiDefaults.get('intervallPositionNormal', '')}}" >
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="intervallRaspberry">Systemdaten des Raspberry Pi (in min)</label>  
					</div>
					<div class="col-25">
						<input name="intervallRaspberry" type="number" step="1" min="1" max="120" value="{{ caravanpiDefaults.get('intervallRaspberry', '')}}" >
					</div>
				</div>


				<br/><br/>
				<hr>
				<p><b>Liontron Battery Management</b><br/></p>

				<div class="row">
					<div class="col-75">
						<label for="LiontronMACAddress">Liontron LiPo Batterie MAC Adresse</label>  
					</div>
					<div class="col-25">
						<input name="LiontronMACAddress" type="char" value="{{ caravanpiDefaults.get('LiontronMACAddress', '')}}" >
					</div>
				</div>



				<br/><br/>
				<hr>
				<p><b>Gassensor</b><br/></p>

				<div class="row">
					<div class="col-75">
						<label for="gassensorInstalled">ist ein Gassensor installiert?</label>  
					</div>
					<div class="col-25">
						<input name="gassensorInstalled" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('gassensorInstalled', False) else '' }}>
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="gassensorDigitalIn">GPIO Pin des Digitalausgangs des Gasssensors</label>  
					</div>
					<div class="col-25">
						<input name="gassensorDigitalIn" type="char" value="{{ caravanpiDefaults.get('gassensorDigitalIn', '')}}" >
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="gassensorAnalogIn">ADC Pin des Analogausgangs des Gasssensors</label>  
					</div>
					<div class="col-25">
						<input name="gassensorAnalogIn" type="char" value="{{ caravanpiDefaults.get('gassensorAnalogIn', '')}}" >
					</div>
				</div>
				<div class="row">
					<div class="col-75">
						<label for="gassensorAlarmActive">soll akustischer Alarm ausgelöst werden?</label>  
					</div>
					<div class="col-25">
						<input name="gassensorAlarmActive" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('gassensorAlarmActive', False) else '' }}>
					</div>
				</div>



				<br/><br/>
				<hr>
				<p><b>230V Überwachung</b><br/></p>

				<div class="row">
					<div class="col-75">
						<label for="v230CheckInstalled">ist eine 230V Überwachung installiert?</label>  
					</div>
					<div class="col-25">
						<input name="v230CheckInstalled" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('v230CheckInstalled', False) else '' }}>
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="v230CheckADCPin">ADC Pin der 230V Überwachung</label>  
					</div>
					<div class="col-25">
						<input name="v230CheckADCPin" type="char" value="{{ caravanpiDefaults.get('v230CheckADCPin', '')}}" >
					</div>
				</div>
				<div class="row">
					<div class="col-75">
						<label for="v230CheckAlarmActive">soll akustischer Alarm ausgelöst werden?</label>  
					</div>
					<div class="col-25">
						<input name="v230CheckAlarmActive" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('v230CheckAlarmActive', False) else '' }}>
					</div>
				</div>



				<br/><br/>
				<hr>
				<p><b>12V Bordbatterie Überwachung</b><br/></p>

				<div class="row">
					<div class="col-75">
						<label for="v12BatteryCheckInstalled">ist eine 12V Bordbatterie Überwachung installiert?</label>  
					</div>
					<div class="col-25">
						<input name="v12BatteryCheckInstalled" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('v12BatteryCheckInstalled', False) else '' }}>
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="v12BatteryCheckADCPin">ADC Pin der 230V Überwachung</label>  
					</div>
					<div class="col-25">
						<input name="v12BatteryCheckADCPin" type="char" value="{{ caravanpiDefaults.get('v12BatteryCheckADCPin', '')}}" >
					</div>
				</div>
				<div class="row">
					<div class="col-75">
						<label for="v12BatteryCheckAlarmActive">soll akustischer Alarm ausgelöst werden?</label>  
					</div>
					<div class="col-25">
						<input name="v12BatteryCheckAlarmActive" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('v12BatteryCheckAlarmActive', False) else '' }}>
					</div>
				</div>


				<br/><br/>
				<hr>
				<p><b>12V Auto Überwachung</b><br/></p>

				<div class="row">
					<div class="col-75">
						<label for="v12CarCheckInstalled">ist eine 12V Auto Überwachung installiert?</label>  
					</div>
					<div class="col-25">
						<input name="v12CarCheckInstalled" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('v12CarCheckInstalled', False) else '' }}>
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="v12CarCheckADCPin">ADC Pin der 12V Auto Überwachung</label>  
					</div>
					<div class="col-25">
						<input name="v12CarCheckADCPin" type="char" value="{{ caravanpiDefaults.get('v12CarCheckADCPin', '')}}" >
					</div>
				</div>
				<div class="row">
					<div class="col-75">
						<label for="v12CarCheckAlarmActive">soll akustischer Alarm ausgelöst werden?</label>  
					</div>
					<div class="col-25">
						<input name="v12CarCheckAlarmActive" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('v12CarCheckAlarmActive', False) else '' }}>
					</div>
				</div>



				<br/><br/>
				<hr>
				<p><b>Sonstige Einstellungen</b><br/></p>

				<!-- Sonstige Einstellungen -->

				<div class="row">
					<div class="col-75">
						<label for="stromPiInstalled">ist ein StromPi installiert?</label>  
					</div>
					<div class="col-25">
						<input name="stromPiInstalled" type="checkbox"  value="1" {{ 'checked' if caravanpiDefaults.get('stromPiInstalled', False) else '' }}>
					</div>
				</div>

				<div class="row">
					<div class="col-75">
						<label for="BuzzerGPIOPin">GPIO Pin des Buzzers</label>  
					</div>
					<div class="col-25">
						<input name="BuzzerGPIOPin" type="char" value="{{ caravanpiDefaults.get('BuzzerGPIOPin', '')}}" >
					</div>
				</div>



				<!-- Button -->
				<div class="row">
					<div class="button-container">
						<input type="submit" name="submit" value="Speichern" class="finish-button" onclick="hideAndShowMessage()">
						<input type="submit" name="cancel" value="Zurück" class="finish-button">
					</div>
				</div>
			</form>

		</div>

        {% include 'footer.html' %}
	</div>

	<!-- Einbindung des zentralen JavaScript-Scripts am Ende der Seite -->
	<script src="{{ url_for('static', filename='js/build_menus.js') }}"></script>

	<!-- Steuerung der Sichtbarkeit der Felder für MariaDB und MQTT -->
	<script>
		function togglePasswordVisibility(show, passwordId) {
			event.preventDefault(); // Verhindert das Neuladen der Seite
			var passwordInput = document.getElementById(passwordId);
			var buttonImage = document.querySelector('button[onmousedown*="' + passwordId + '"] img');
			passwordInput.type = show ? "text" : "password";
			buttonImage.src = show ? "/static/images/eye-slash-solid.png" : "/static/images/eye-solid.png";
		}

		document.addEventListener('DOMContentLoaded', function() {
			// Funktion zum Ein-/Ausblenden der Einstellungen
			function toggleSettings(checkbox, settingsClass, shouldClearValues = false) {
				var settings = document.querySelector(settingsClass);
				if (checkbox.checked) {
					settings.style.display = 'block';
				} else {
					settings.style.display = 'none';
					if (shouldClearValues) {
						settings.querySelectorAll('input').forEach(function(input) {
							input.value = ''; // Setzt den Wert jedes Eingabefeldes zurück
						});
					}
				}
			}
		
			var write2DBCheckbox = document.querySelector('input[name="write2MariaDB"]');
			var send2MQTTCheckbox = document.querySelector('input[name="send2MQTT"]');
		
			// Initialer Aufruf für den Fall, dass die Checkboxen bereits markiert sind
			toggleSettings(write2DBCheckbox, '.db-settings', true);
			toggleSettings(send2MQTTCheckbox, '.mqtt-settings', true);
		
			// Event Listener für Änderungen
			write2DBCheckbox.addEventListener('change', function() {
				toggleSettings(this, '.db-settings', true);
			});
		
			send2MQTTCheckbox.addEventListener('change', function() {
				toggleSettings(this, '.mqtt-settings', true);
			});
		});
	</script>
		
</body>
</html>

