<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CaravanPi Konfiguration Batterie</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/caravanpi.css') }}">
</head>
<body>
	<div class="container">
		<div class="hamburger-menu" onclick="toggleHamburgerMenu()">
			<div></div>
			<div></div>
			<div></div>
		</div>

		<div id="hamburgerMenu" class="hamburger-menu-content">
			<!-- Hamburger-Menü-Links werden per JavaScript hinzugefügt -->
		</div>

		<div class="content">
			<div class="logo">
				<img src="/static/images/CaravanPi-Logo.png" alt="CaravanPi Logo" class="logo">
			</div>
			<hr>

			<h1>Konfiguration der Batterie</h1>
			<p>Bitte geben Sie die entsprechenden Werte an.</p>
			<p></p>

		
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="flash-message">{{ message }}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}


			<form class="caravanpi-form" method="post">
				<!-- Erläuterung  -->
				<div class="row">
					<div>
						<p>
						<br/><br/><b>Konfiguration der Batterie</b><br/>
						Für die Batterie sind verschiedene Warnstufen konfiguriert. Die Voltwerte, ab wann welche Stufe gilt, können hier konfiguriert werden.
						</p>
					</div>
				</div>

				<!-- Leval 1 -->
				<div class="row">
					<div class="col-75">
						<label for="level1">Level 1 (in l)</label>  
					</div>
					<div class="col-25">
						<input name="level1" type="number" step="0.01" min="1" value="{{ batterie.get('level1', '')}}" >
					</div>
				</div>

				<!-- Leval 2 -->
				<div class="row">
					<div class="col-75">
						<label for="level2">Level 2 (in l)</label>  
					</div>
					<div class="col-25">
						<input name="level2" type="number" step="0.01" min="1" value="{{ batterie.get('level2', '')}}" >
					</div>
				</div>

				<!-- Leval 3 -->
				<div class="row">
					<div class="col-75">
						<label for="level3">Level 1 (in l)</label>  
					</div>
					<div class="col-25">
						<input name="level3" type="number" step="0.01" min="1" value="{{ batterie.get('level3', '')}}" >
					</div>
				</div>

				<!-- Button -->
				<div class="row">
					<div class="button-container">
						<input type="submit" name="submit" value="Speichern" class="finish-button" onclick="hideAndShowMessage()">
						<input type="submit" name="cancel" value="Zurück" class="finish-button">
					</div>
				</div>
			</form>

			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>Weitere Infos zum Projekt CaravanPi finden Sie auf der <a href="https://www.caravanpi.de">CaravanPi-Website</a> und auf <a href="https://github.com/spitzlbergerj/CaravanPi">github</a></p>
		</div>

		<div class="footer">
			<p>&copy; CaravanPi - Josef Spitzlberger - 2024</p>
		</div>
	</div>

	<!-- Einbindung des zentralen JavaScript-Scripts am Ende der Seite -->
	<script src="{{ url_for('static', filename='js/build_menus.js') }}"></script>

</body>
</html>

