<div class="footer">
	<p>Weitere Infos zum Projekt CaravanPi finden Sie unter</p>
	<p><a href="https://www.caravanpi.de" target="_blank">CaravanPi-Website</a>
	<p><a href="https://github.com/spitzlbergerj/CaravanPi" target="_blank">CaravanPi Programmcode (github)</a></p>
	<p><a href="https://raw.githubusercontent.com/spitzlbergerj/CaravanPi/master/circuit-board/V5/CaravanPi_Platine_V5_Schaltplan_Page_1.png" target="_blank">CaravanPi Platine V5 Schaltplan (github)</a></br></br></p>

	<p>&copy; CaravanPi - Josef Spitzlberger - 2024</p>
</div>