/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

html {
  cursor: auto;
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
}



header {
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 400;
	border-bottom: 1px solid #666;
	line-height: 22px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	color: #999;
}


.button {
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 0.2em;
    padding: 0.1em;
    margin: 0.1em;
    margin-bottom: 20px;

    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

a {
	color: #aaa;
	text-decoration: none;	
}
form {
    width: 100%;
	font-size: 14px;
	line-height: 15px;
}

.container {
    width: 100%;
	border: 1px solid #666;
    border-radius: 0.2em;
    padding: 10px;
    margin: 0.1em;
    margin-bottom: 20px;

    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.row{
    width: 100%;
	
}

.submit-button{
    margin-top: 50px;
}

.caravanpi-form {
	box-sizing: border-box;
}

input, select, textarea {
	background-color: #ddd;
	font-size: 14px;
	width: 90%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	resize: vertical;
}

input[type=text], select, textarea {
	resize: vertical;
}

input[type=number], select, textarea {
	resize: none;
}

input[type=submit] {
  cursor: pointer;
  width: 100%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.responsive {
	padding-right: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 100%;
	height: auto;
}

.respimglage {
	float: right;
	right: 10px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}